<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
    
      #banner{
        width: 90%;
        height: 350px;
        object-fit: cover;
      }

      .container{
        text-align: left;
        margin: 0 0 0 0;
      }
 
    </style>
  </head>
  <body>
    <div class='text-center md-4 ms-4'>
      <h1 class='text-center mt-2 mb-4'>Our Careers</h1>
      <img class='img-fluid' id='banner' src='static/new_img.jpg'>
      <h2 class='text-center mt-2 mb-4'>About Our Careers</h2>
      <p class='lead'>um dolor sit amet, consectetur adipiscing elit. Sed facilisis sem eu tortor lacinia, nec aliquet metus auctor. Nullam lacinia eget lacus venenatis lobortis. Duis turpis ipsum, fringilla fringilla mollis et, cursus sed justo. Aenean sagittis semper felis in viverra. Sed nunc nisi, posuere ut venenatis ultricies, porttitor auctor lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sed efficitur quam. Aenean laoreet nunc viverra imperdiet egestas. Quisque malesuada fermentum ultricies. Cras quis lacus rhoncus lectus faucibus commodo et feugiat ex. Nulla eu nibh orci.</p>
      <h2 class='text-center mt-2 mb-4'>Open Positions</h2>
      <div class='container'>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
       
        {% endfor %}
      </div>
      <div style='text-center'>
        <button class='btn btn-primary btn-lg'>Contact Us</button>
        <p class='mt-4'>Copyright 2022.</p>
      </div>
      
    </div>
  </body>
</html>