<div class='border-bottom row' style='margin-bottom: 16px; padding-bottom: 8px;'>
  <div class='col-9'>
    <h4 style='color: rgb(120, 120, 120)'>
      {{ job['title'] }}
    </h4>
    <div>
      Location: <b>{{ job['location'] }}</b>
    </div>
    {% if 'salary' in job %}
      <div>
        Salary: <b>{{ job['salary'] }}</b>
      </div>
    {% endif %}
  </div>
  <div class='col-3 d-flex align-items-center justify-content-center'>
    <a href ='mailto:nonameg.12@gmail.com?subject=Application%20for%20{{job["title"]}}&body=Name%20%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0ALinkedIn%20%3A%20%3CYour%20LinkedIn%20link%3E%0D%0A%0D%0AAttack%20Resume' type="button" class="btn btn-dark row text-right">Apply</a>
  </div>
</div>
